<div class="main">
    <div class="aligment">
        <div class="photo">

        </div>
        <div class="article">

        </div>
    </div>
</div>
<div class="main">
    <div class="aligment">
        <div class="photo">
            
        </div>
        <div class="article">

        </div>
    </div>
</div>
<div class="main">
    <div class="aligment">
        <div class="article">
            Try project, Step 2
        </div>
    </div>
</div>
<div class="main">
    <div class="aligment">
        <div class="photo">
            
        </div>
        <div class="article">

        </div>
    </div>
</div>
<div class="main">
    <div class="aligment">
        <div class="photo">
            
        </div>
        <div class="article">

        </div>
    </div>
</div>